body {
	background-color: #f4f6f9;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
	background-color: #001f3f;
}

.navbar-brand,
.nav-link {
	color: white !important;
}

.main-title {
	font-size: 3rem;
	color: #001f3f;
	font-weight: bold;
}

.logo-seriea {
	max-width: 120px;
}

.card img {
	max-height: 100px;
	object-fit: contain;
}

.list-group-item {
	background-color: #ffffff;
	border: none;
}



.nav-item.dropdown-css {
	position: relative;
}

.nav-item.dropdown-css .dropdown-menu-css {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: white;
	list-style: none;
	padding: 0;
	margin: 0;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	min-width: 180px;
	border-radius: 4px;
	z-index: 1000;
}

.nav-item.dropdown-css:focus-within .dropdown-menu-css {
	/* Mostra il menu se il contenitore ha focus */
	display: block;
}

.dropdown-menu-css li a {
	/* Voci del menu */
	display: block;
	padding: 10px 15px;
	color: black;
	text-decoration: none;
}

.dropdown-menu-css li a:hover {
	background-color: #f0f0f0;
}

.table-dark-blue {
	background-color: #001f3f;
	color: white;
}

.table-dark-blue th {
	background-color: #001f3f;
	color: white;
}

.table-dark-blue td {
	background-color: white;
	color: black;
}

.btn-no-hover:hover {
	background-color: transparent !important;
	color: #001f3f !important;
	border-color: #001f3f !important;
}