<!DOCTYPE html>
<head>
    <title>Modifica Posizionamento</title>
</head>
<body>
    <h1>Modifica Posizionamento di <span th:text="${squadra.nome}"></span></h1>
    <!-- Mostra un form con i campi di PosizioneClassifica -->
    <form th:action="@{'/admin/posizioni/' + ${squadra.id} + '/' + ${posizioneClassifica.id} + '/modifica/posizione'}" method="post">
        <label for="posizione">Posizione:</label>
        <input type="number" id="posizione" name="valore" th:value="${posizioneClassifica.posizione}" />
        <button type="submit">Aggiorna</button>
    </form>

    <form th:action="@{'/admin/posizioni/'+${squadra.id}+'/'+ ${posizioneClassifica.id} + '/modifica/punti'}" method="post">
        <label for="punti">Punti:</label>
        <input type="number" id="punti" name="valore" th:value="${posizioneClassifica.punti}" />
        <button type="submit">Aggiorna</button>
    </form>

    <form th:action="@{'/admin/posizioni/'+${squadra.id}+'/'+ ${posizioneClassifica.id} + '/modifica/'}" method="post">
        <label for="vittorie">Vittorie:</label>
        <input type="number" id="vittorie" name="valore" th:value="${posizioneClassifica.vittorie}" />
        <button type="submit">Aggiorna</button>
    </form>

    <form th:action="@{'/admin/posizioni/'+${squadra.id}+'/'+ ${posizioneClassifica.id} + '/modifica/'}" method="post">
        <label for="pareggi">Pareggi:</label>
        <input type="number" id="pareggi" name="valore" th:value="${posizioneClassifica.pareggi}" />
        <button type="submit">Aggiorna</button>
    </form>

    <form th:action="@{'/admin/posizioni/'+${squadra.id}+'/'+ ${posizioneClassifica.id} + '/modifica/sconfitte'}" method="post">
        <label for="sconfitte">Sconfitte:</label>
        <input type="number" id="sconfitte" name="valore" th:value="${posizioneClassifica.sconfitte}" />
        <button type="submit">Aggiorna</button>
    </form>

    <form th:action="@{'/admin/posizioni/'+${squadra.id}+'/'+ ${posizioneClassifica.id} + '/modifica/golFatti'}" method="post">
        <label for="golFatti">Gol Fatti:</label>
        <input type="number" id="golFatti" name="valore" th:value="${posizioneClassifica.golFatti}" />
        <button type="submit">Aggiorna</button>
    </form>

    <form th:action="@{'/admin/posizioni/'+${squadra.id}+'/'+ ${posizioneClassifica.id} + '/modifica/golSubiti'}" method="post">
        <label for="golSubiti">Gol Subiti:</label>
        <input type="number" id="golSubiti" name="valore" th:value="${posizioneClassifica.golSubiti}" />
        <button type="submit">Aggiorna</button>
    </form>
	<form th:action="@{'/admin/posizioni/'+ ${squadra.id}+'/'+ ${posizioneClassifica.id} + '/modifica/stagione'}" method="post">
		Seleziona Stagione: <select name="stagioneId">
		        <option th:each="stagione : ${stagioni}" th:value="${stagione.id}" th:text="${stagione.annoInizio} + '/' + ${stagione.annoFine}"></option>
				
				</select>
				<button type="submit">Aggiorna</button>
	</form>
	<div>
	<a th:href="@{'/admin/posizioni/'+ ${squadra.id}}"> indietro</a>
	</div>
</body>
</html>
