<!DOCTYPE html>
<head>
    <title>Registrazione</title>
    <link rel="stylesheet" href="/css/nuovaRegistrazione.css" />
</head>
<body>
    <h1 class="titolo">Registrazione</h1>
<div class="register-container">
    <form th:action="@{/registersalvata}" method="post" th:object="${credentials}">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>

        <div>
            <span>Nome:</span>
           <span> <input type="text" th:field="*{user.nome}" /> </span>
            <span th:if="${#fields.hasErrors('user.nome')}" th:errors="*{user.nome}"></span>
        </div>

        <div>
            <span>Cognome:</span>
            <span><input type="text" th:field="*{user.cognome}" /></span>
            <span th:if="${#fields.hasErrors('user.cognome')}" th:errors="*{user.cognome}"></span>
        </div>

        <div>
            <span>Username:</span>
            <span><input type="text" th:field="*{username}" /></span>
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>

        <div>
            <span>Password:</span>
            <span><input type="password" th:field="*{password}" /></span>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>

        <span><button type="submit">Registrati</button></span>
    </form>
	</div>
	<a class="indietro" href="/login">indietro</a>
</body>
</html>
